fastapi
uvicorn
openai-whisper
groq
transformers
spacy
pandas
streamlit
pymongo
langdetect
python-multipart
python-dotenv
librosa
torch
requests
plotly
sounddevice
scipy
openai
redis
webrtcvad
websockets